@charset "UTF-8";
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4814814815vw;
  }
}
@media (min-width: 1080px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-concept {
  margin-top: 100px;
  margin-top: 6.25rem;
}

.l-flow {
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
}

.l-footer {
  padding-top: 127px;
  padding-top: 7.9375rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
}
@media screen and (min-width: 768px) {
  .l-footer {
    padding-top: 3.75rem;
    padding-bottom: 1.875rem;
  }
}

.l-header {
  height: 60px;
  padding-top: 19.8px;
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1130px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-news {
  padding-top: 100px;
  padding-top: 6.25rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
}

.l-price {
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
}

.l-product {
  margin-top: 149px;
  margin-top: 9.3125rem;
}

.c-button, .c-button--more,
.c-button--news-list {
  background-color: #8e8eae;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: 22px 0;
  padding: 1.375rem 0;
  padding-left: 25px;
  padding-left: 1.5625rem;
  padding-right: 25px;
  padding-right: 1.5625rem;
  position: relative;
  width: 100%;
}
.c-button::after, .c-button--more::after,
.c-button--news-list::after {
  background-image: url(../../../images/common/button-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 6px;
  height: 0.375rem;
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  width: 1.875rem;
}

.c-button--news,
.c-button--detail {
  padding: 17px 0 17px 33px;
  padding: 1.0625rem 0 1.0625rem 2.0625rem;
}

.c-button--detail::after {
  background-image: url(../../../images/arrow-detail.svg);
  background-size: cover;
  height: 6.28px;
  right: 31px;
  width: 50px;
}

.c-button--flow {
  max-width: 420px;
  max-width: 26.25rem;
  padding-left: 16px;
  padding-left: 1rem;
  width: 100%;
}
.c-button--flow::after {
  right: 15.76px;
}

.c-button--news {
  font-size: 14px;
  font-size: 0.875rem;
  max-width: 320px;
  max-width: 20rem;
  text-align: left;
  width: 100%;
}
.c-button--news::after {
  background-image: url(../../../images/arrow-news.svg);
  background-size: cover;
  right: 32px;
  width: 77.91px;
}

.c-button--more,
.c-button--news-list {
  padding-left: 32.46px;
  padding-left: 2.02875rem;
}

.c-down-arrow {
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid #8e8eae;
  height: 0;
  margin: 0 auto;
  width: 0;
}
@media screen and (min-width: 768px) {
  .c-down-arrow {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.c-section__title-wrap {
  text-align: center;
}

.c-section-title {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.4166666667;
  padding-bottom: 14px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .c-section-title {
    font-size: 2.125rem;
  }
}
.c-section-title::after {
  background-color: #8e8eae;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
}

@media screen and (min-width: 768px) {
  .c-section-title--concept::after {
    left: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  padding-bottom: 78px;
}
@media screen and (min-width: 768px) {
  body {
    padding-bottom: 0;
  }
}

.p-concept__content {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-concept__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-concept__img {
  padding-top: 86.8656716418%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-concept__img {
    padding-top: 47.5%;
    width: 54.6296296296%;
  }
}

.p-concept__img > img {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.p-concept__textarea {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, .07);
          box-shadow: 0 5px 4px rgba(0, 0, 0, .07);
  margin: -24px 10px 0;
  margin: -1.5rem 0.625rem 0;
  padding: 25px;
  padding: 1.5625rem;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .p-concept__textarea {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    margin: 0;
    margin: initial;
    max-width: 33.75rem;
    width: 100%;
    z-index: 2;
    padding: 5.125rem 4.375rem 5.125rem 3.125rem;
  }
}

.p-concept__text-wrap {
  margin-top: 19px;
  margin-top: 1.1875rem;
}

.p-concept__text {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-concept__text {
    font-size: 1rem;
  }
}

.p-concept__text + .p-concept__text {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-cta {
  background-color: #eaf0f9;
  bottom: 0;
  left: 0;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  padding-top: 12px;
  padding-top: 0.75rem;
  position: fixed;
  right: 0;
  z-index: 10;
}

.p-cta__link {
  display: block;
}

.p-cta__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-cta__img {
  max-width: 54px;
  max-width: 3.375rem;
  width: 100%;
}

.p-cta__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 18px;
  margin-left: 1.125rem;
  position: relative;
}
.p-cta__text::after {
  background-image: url(../../../images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 13px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
}

.p-flow {
  background-color: #eaf0f9;
}

.p-flow__content {
  background-color: #fff;
  padding: 50px 10px;
  padding: 3.125rem 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-flow__content {
    padding: 3.75rem 4.375rem;
  }
}

.p-flow__cards {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-flow__cards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .p-flow-cards__item {
    max-width: 16.25rem;
    width: 100%;
  }
}

.p-flow-card__number {
  color: #8e8eae;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-size: 4.375rem;
  line-height: 1;
  padding-left: 27px;
  padding-left: 1.6875rem;
}

.p-flow-card__body {
  padding: 16px 28px 0 27px;
}
@media screen and (min-width: 768px) {
  .p-flow-card__body {
    padding: 16px 0 0 0;
  }
}

.p-flow-card__img {
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  max-width: 9.375rem;
  padding-top: 47.619047619%;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-flow-card__img {
    padding-top: 57.6923076923%;
  }
}

.p-flow-card__img > img {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.p-flow-card__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.p-flow-card__text {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-top: 15px;
  margin-top: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-flow-card__text {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.p-flow__arrow-wrap {
  margin: 38px 0 30px;
  margin: 2.375rem 0 1.875rem;
  text-align: center;
}

.p-flow__arrow {
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 22px solid #8e8eae;
  height: 0;
  margin: 0 auto;
  width: 0;
}
@media screen and (min-width: 768px) {
  .p-flow__arrow {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.p-flow__button {
  margin-top: 62px;
  margin-top: 3.875rem;
}
@media screen and (min-width: 768px) {
  .p-flow__button {
    text-align: center;
  }
}

.p-footer-sns__items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer-sns__item {
  width: 40px;
}

.p-footer-sns__item + .p-footer-sns__item {
  margin-left: 30px;
}

.p-footer-sns__item > a {
  display: block;
}

.p-footer {
  background-color: #aaa;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .p-footer__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-footer__logo > a {
  display: block;
}

@media screen and (min-width: 768px) {
  .p-footer__left {
    margin-left: 3.75rem;
  }
}

.p-footer__items {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-footer__item {
  line-height: 1;
}

.p-footer__item + .p-footer__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .p-footer__item + .p-footer__item {
    margin-left: 2.5rem;
    margin-top: 0;
  }
}

.p-footer__item > a {
  display: block;
}

.p-footer__right {
  margin-left: auto;
  margin-top: 70px;
  margin-top: 4.375rem;
}
@media screen and (min-width: 768px) {
  .p-footer__right {
    margin-top: 0;
  }
}

.p-footer__copyright {
  margin-top: 50px;
  margin-top: 3.125rem;
  text-align: center;
}

.p-footer__copyright > small {
  display: inline-block;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .p-footer__copyright > small {
    font-size: 1rem;
  }
}

.p-fv__img {
  padding-top: 82.3880597015%;
  position: relative;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.p-fv__img > img {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.p-fv__title {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.2;
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-fv__sub-title {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 6px;
  margin-top: 0.375rem;
}

.p-fv__button {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-header__logo {
  width: 70px;
}
@media screen and (min-width: 768px) {
  .p-header__logo {
    width: 101px;
    margin-left: 155px;
  }
}

.p-header__logo > a {
  display: block;
}

.p-header__right {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .p-header__right {
    margin-right: 55px;
  }
}

.p-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-header__item > a {
  display: block;
}

.p-header__item + .p-header__item {
  margin-left: 20px;
  margin-left: 1.25rem;
}

.p-news__inner {
  max-width: 990px;
  max-width: 61.875rem;
}

.p-news__block {
  margin-top: 26px;
  margin-top: 1.625rem;
}

.p-news__item > a {
  border-bottom: 1px solid #e3e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  padding: 1.875rem 0;
}

.p-news__title {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  width: 27.4626865672%;
}
@media screen and (min-width: 768px) {
  .p-news__title {
    font-size: 1rem;
    width: 15.6382978723%;
  }
}

.p-news__title > time {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
}

.p-news__button {
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .p-news__button {
    text-align: center;
  }
}

.p-news__body {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .p-news__body {
    font-size: 1rem;
  }
}

.p-price {
  background-image: url(../../../images/bg-price.jpg);
  background-position: center;
  background-size: cover;
}

.p-price__wrap {
  background-color: #fff;
  padding: 14px 10px;
  padding: 0.875rem 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-price__wrap {
    padding: 1.375rem 1.25rem 1.25rem 1.25rem;
  }
}

.p-price__content {
  border: 1px solid #8e8eae;
  padding: 32px 20px 30px 21px;
  padding: 2rem 1.25rem 1.875rem 1.3125rem;
}

.p-price__ceiling-wrap {
  margin-top: 38px;
  margin-top: 2.375rem;
}
@media screen and (min-width: 768px) {
  .p-price__ceiling-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-price__regular {
  color: #aaa;
  line-height: 1;
  padding-left: 32px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-price__regular {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-left: 0;
  }
}

.p-price__title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .p-price__title {
    font-size: 2.125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-price__title.tax-in {
    font-size: 1.875rem;
  }
}

.p-price__title > span {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .p-price__title > span {
    font-size: 1.25rem;
  }
}

.p-price__price {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1;
  margin-top: 6px;
  margin-top: 0.375rem;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .p-price__price {
    font-size: 5rem;
  }
}

.p-price__unit {
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-price__unit {
    font-size: 2.5rem;
  }
}

.p-price__unit--speacial {
  font-size: 30px;
  font-size: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-price__unit--speacial {
    font-size: 4.6875rem;
  }
}

.p-price__tax {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .p-price__tax {
    font-size: 1.25rem;
  }
}

.p-price__arrow-wrap {
  margin-top: 22px;
  margin-top: 1.375rem;
}
@media screen and (min-width: 768px) {
  .p-price__arrow-wrap {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.p-price__special {
  color: #8e8eae;
  margin-top: 14px;
  margin-top: 0.875rem;
  padding-left: 9px;
  padding-left: 0.5625rem;
  position: relative;
}
.p-price__special::after {
  background-image: url(../../../images/label-free.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 60px;
  position: absolute;
  right: 9px;
  top: -12px;
  width: 60px;
}
@media screen and (min-width: 768px) {
  .p-price__special::after {
    width: 94px;
    height: 94px;
  }
}

.p-price__price--speacial {
  font-size: 80px;
  font-size: 5rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .p-price__price--speacial {
    font-size: 9.375rem;
  }
}

.price__postage {
  background-color: #8e8eae;
  color: #fff;
  height: 60px;
  width: 51.96px;
}

.price__postage > span {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.002em;
  line-height: 1;
}

.p-product__inner {
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
}

@media screen and (min-width: 768px) {
  .p-product__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .p-product-cards__item {
    width: calc(33.33333% - 40px);
  }
}

.p-product-cards__item + .p-product-cards__item {
  margin-top: 60px;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .p-product-cards__item + .p-product-cards__item {
    margin-left: 3.75rem;
    margin-top: 0;
  }
}

.p-product-card__img {
  padding-top: 100%;
  position: relative;
}

.p-product-card__img > img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.p-product__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-product__title {
    font-size: 1.375rem;
  }
}

.p-product-card__text {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-product-card__text {
    font-size: 1rem;
  }
}

.p-product-card__body {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-product-card__detail-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-product-card__detail {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .p-product-card__detail {
    font-size: 0.9375rem;
  }
}

.p-product-card__detail + .p-product-card__detail {
  margin-left: 30px;
  margin-left: 1.875rem;
}

.p-product__button {
  margin-top: 28px;
  margin-top: 1.75rem;
}

@media screen and (min-width: 768px) {
  .p-price__set {
    margin-top: 3.0625rem;
  }
}

.p-set__content {
  padding: 0 16px;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .p-set__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 37.5rem;
    width: 100%;
    padding: 30px 24px 30px 30px;
    border: 1px solid #8e8eae;
  }
}

.p-set__title-wrap {
  margin-top: 38px;
  margin-top: 2.375rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-set__title-wrap {
    margin-top: -42px;
  }
}

.p-set__title {
  color: #8e8eae;
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  padding: 0 75px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-set__title {
    background-color: #fff;
    padding: 0 30px;
  }
}
.p-set__title::before, .p-set__title::after {
  background-color: #8e8eae;
  content: "";
  display: inline-block;
  height: 1px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 66px;
}
@media screen and (min-width: 768px) {
  .p-set__title::before, .p-set__title::after {
    content: none;
    background-color: #fff;
  }
}
.p-set__title::before {
  left: 0;
}
.p-set__title::after {
  right: 0;
}

@media screen and (min-width: 768px) {
  .p-set__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-set__img {
  margin-top: 16px;
  margin-top: 1rem;
  padding-top: 66.4166666667%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-set__img {
    max-width: 15.0625rem;
    width: 100%;
    padding-top: 29.4117647059%;
  }
}

.p-set__img > img {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.p-set__lists {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-set__lists {
    margin-left: 1.875rem;
    margin-top: 0;
  }
}

.p-set__list {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1;
}

.p-set__list + .p-set__list {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-set__text {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(0, #e6e6fa));
  background-image: linear-gradient(transparent 70%, #e6e6fa 0);
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-set__button-wrap {
  margin-top: 35px;
  margin-top: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .p-set__button-wrap {
    text-align: center;
  }
}

.p-set__button {
  font-size: 14px;
  font-size: 0.875rem;
  padding-left: 14px;
  padding-left: 0.875rem;
}
@media screen and (min-width: 768px) {
  .p-set__button {
    max-width: 26.25rem;
    width: 100%;
    font-size: 1.25rem;
    text-align: left;
    padding-left: 1.5625rem;
  }
}
.p-set__button::after {
  right: 15px;
}

.test {
  font-size: 100px;
  font-size: 6.25rem;
  background-color: #333;
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */
