@use 'global' as *;

.c-button {
  background-color: $purple;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: rem(22) 0;
  padding-left: rem(25);
  padding-right: rem(25);
  position: relative;
  width: 100%;
  &::after {
    background-image: url(../../../images/common/button-arrow.svg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: rem(6);
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: rem(30);;
  }
}

.c-button--news,
.c-button--detail {
  padding: rem(17) 0 rem(17) rem(33);
}

.c-button--detail {
  &::after {
    background-image: url(../../../images/arrow-detail.svg);
    background-size: cover;
    height: 6.28px;
    right: 31px;
    width: 50px;
  }
}

.c-button--flow {
  padding-left: rem(16);
  &::after {
    right: 15.76px;
  }
}

.c-button--news {
  font-size: rem(14);
  &::after {
    background-image: url(../../../images/arrow-news.svg);
    background-size: cover;
    right: 32px;;
    width: 77.91px;
  }
}


.c-button--more,
.c-button--news-list {
  @extend .c-button;
  padding-left: rem(32.46);
}
