.c-down-arrow {
    // text-align: center;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  // border-style: solid;
  border-top: 18px solid #8e8eae;
  height: 0;
  margin: 0 auto;
  width: 0;
}
