@use 'global' as *;

.p-header__wrap {
  display: flex;
  align-items: center;
}

.p-header__logo {
  width: 70px;
  @include mq("md") {
    width: 101px;
    margin-left: 155px;
  }
}

.p-header__logo > a {
  display: block;
}

.p-header__right {
  margin-left: auto;
  @include mq("md") {
    margin-right: 55px;
  }
}

.p-header__items {
  display: flex;
}

.p-header__item > a {
  display: block;
}

.p-header__item + .p-header__item {
  margin-left: rem(20);
}
