@use 'global' as *;

.p-price {
  background-image: url(../../../images/bg-price.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  &::after {
    bottom: 0;
    color: $white;
    content: "TO U";
    display: block;
    font-size: rem(45);
    @include mq("md") {
      content: none;
    }
    left: 50%;
    line-height: 1;
    position: absolute;
    transform: translateX(-50%);
  }
}

.p-price__wrap {
  background-color: $white;
  @include mq("md") {
    padding: rem(22) rem(20) rem(20) rem(20);
  }
  padding: rem(14) rem(10);
}

.p-price__content {
  border: 1px solid $purple;
  padding: rem(32) rem(20) rem(30) rem(21);
}

.p-price__ceiling-wrap {
  @include mq("sm") {
    width: 54%;
  }
  @include mq("md") {
    display: flex;
    justify-content: center;
    max-width: initial;
    width: 100%;
  }
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(38);
  max-width: rem(272);
  width: 100%;
}

.p-price__regular {
  color: #aaa;
  @include mq("md") {
    align-self: flex-end;
    padding-left: 0;
  }
  line-height: 1;
  padding-left: 32px;
  text-align: center;
}

.p-price__title {
  font-size: rem(18);
  @include mq("md") {
    font-size: rem(34);
  }
  line-height: 1;
  text-align: left;
}

.p-price__title.tax-in {
  @include mq("md") {
    font-size: rem(30);
  }
}

.p-price__title > span {
  display: inline-block;
  font-size: rem(14);
  @include mq("md") {
    font-size: rem(20);
  }
}

.p-price__price {
  font-size: rem(50);
  @include mq("md") {
    font-size: rem(80);
  }
  line-height: 1;
  margin-top: rem(6);
  text-align: left;
}

.p-price__price.normal {
  position: relative;
  &::after {
    background-color: #e7a9ce;
    content: "";
    height: 5px;
    @include mq("md") {
      width: 75%;
    }
    left: 0;
    position: absolute;
    top: 43%;
    transform: rotate(-13deg) translateY(-50%);
    width: 60%;
  }
}

.p-price__unit {
  display: inline-block;
  font-size: rem(20);
  @include mq("md") {
    font-size: rem(40);
  }
}

.p-price__unit--speacial {
  font-size: rem(30);
  @include mq("md") {
    font-size: rem(75);
  }
}

.p-price__tax {
  display: inline-block;
  font-size: rem(16);
  @include mq("md") {
    font-size: rem(20);
  }
}

.p-price__arrow-wrap {
  @include mq("md") {
    align-self: center;
  }
  margin-top: rem(22);
}

.p-price__special {
  color: $purple;
  margin-top: rem(14);
  padding-left: rem(9);
  position: relative;
  &::after {
    background-image: url(../images/label-free.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: rem(60);
    @include mq("md") {
      height: rem(94);
      width: rem(94);
    }
    position: absolute;
    right: 9px;
    top: -12px;
    width: rem(60);
  }
}

.p-price__price--speacial {
  font-size: rem(80);
  @include mq("md") {
    font-size: rem(150);
  }
  margin-top: 0;
}

.price__postage {
  background-color: $purple;
  color: $white;
  height: 60px;
  width: 51.96px;
}

.price__postage > span {
  display: inline-block;
  font-weight: bold;
  letter-spacing: .002em;
  line-height: 1;
}
